[Unit]
Description=Valheim Dedicated Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre={{ valheim_update.dest }}
ExecStart={{ valheim_server_script.dest }}
WorkingDirectory={{ valheim_user.home }}
Environment="HOME={{ valheim_user.home }}"
User=valheim
Group=valheim
Restart=on-failure
RestartSec=10
TimeoutSec=60
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
